/* modal */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 528px;
    min-height: 581px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--white-bcg-color);

    transition: transform var(--anim);

    &__close-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        padding: 0;
        width: 30px;
        height: 30px;

        border-radius: 50px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: var(--white-bcg-color);
        cursor: pointer;

        transition: color var(--anim);
    }

    &__close-btn:hover,
    &__close-btn:focus {
        color: var(--acent-txt-color);
    }

    &__title {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;

        font-weight: 700;
        font-size: 20px;
        line-height: 1.1;
    }

    &__btn {
        display: block;
        margin-left: auto;
        margin-right: auto;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: background-color var(--anim);
    }

    &__btn:hover,
    &__btn:focus {
        background-color: var(--hero-btn-hover-color)
    }
}