/* Features section */
.features {
    @include section(94px);

    &__list {
        display: flex;
    }

    &__item {
        width: 270px;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 270px;
        height: 120px;
        margin-bottom: 30px;

        background-color: var(--secondary-bcg-color);
        border-radius: 4px;
    }

    &__subtitle {
        margin-bottom: 10px;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        text-transform: uppercase;
    }

    &__desc {
        font-size: 14px;
        line-height: 1.7;
        color: var(--secondary-txt-color);
    }
}