/* Header */
.header {
    border-bottom: 1px solid var(--border-color);

    &__logo {
        margin-right: 93px;
    }

    &__container {
        display: flex;
        align-items: center;
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item:not(:last-child) {
        margin-right: 50px;
    }

    &__link {
        position: relative;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        color: var(--main-txt-color);

        transition: color var(--anim);
    }

    &__link:hover,
    &__link:focus {
        color: var(--acent-txt-color);
    }

    &__link--current {
        color: var(--acent-txt-color);
    }

    &__link--current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        transform: translateY(1px);

        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--acent-txt-color);
    }

    &__item {
        letter-spacing: 0.02em;
    }
}

.header-contact {
    display: flex;
    margin-left: auto;
    align-items: center;

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__link {
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        color: var(--secondary-txt-color);

        transition: color var(--anim);
    }

    &__link:hover,
    &__link:focus {
        color: var(--acent-txt-color);
    }

    &__icon {
        margin-right: 10px;
    }

    &__item{
        letter-spacing: 0.02em;
    }
}