/* Hero section */
.hero {
    @include section (118px);

    margin-left: auto;
    margin-right: auto;
    height: 400px;

    background-color: var(--hero-section-bcg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: linear-gradient(0deg, var(--linear-gradient), var(--linear-gradient)), url(../images/hero/img-1_mob.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(0deg, var(--linear-gradient), var(--linear-gradient)), url(../images/hero/img-1_mob@2x.jpg);
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(0deg, var(--linear-gradient), var(--linear-gradient)), url(../images/hero/img-1_tab.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(0deg, var(--linear-gradient), var(--linear-gradient)), url(../images/hero/img-1_tab@2x.jpg);
        }
    }

    @media screen and (min-width: 1200px) {
        @include section (200px);
        max-width: 1600px;
        height: 600px;

        background-image: linear-gradient(0deg, var(--linear-gradient), var(--linear-gradient)), url(../images/hero/img-1_desk.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(0deg, var(--linear-gradient), var(--linear-gradient)), url(../images/hero/img-1_desk@2x.jpg);
        }
    }

    &__title {
        max-width: 360px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;

        font-weight: 900;
        font-size: 26px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--white-txt-color);

        @media screen and (min-width: 1200px) {
            max-width: 696px;
            font-size: 44px;
            line-height: 1.4;
        }
    }

    &__btn {
        display: block;
        margin-left: auto;
        margin-right: auto;

        transition: background-color var(--anim);
    }

    &__btn:hover,
    &__btn:focus {
        background-color: var(--hero-btn-hover-color);
        cursor: pointer;
    }
}